*{

    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.header{
    width: 200px;
    height: 100%;
    position: fixed;
    text-align: center;
    border-right: 1px #d3d3d3 solid;
}
.header_in{
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main{
    border: 2px black solid;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    max-width: 500px;
    display: inline-block;              
    left: 200px;             
    transform: translate(0, -0%);
    position: absolute;
}
.medium_logo{
    width: 55px;
    height: 40px;
    margin-top: 30px;
}
.c{
    color: black;
}
.nc{
    color: #8a8a8a;
}
.b{
    margin-top: 30px;
}
.navigate_buttons a:hover{
    color: black;
    transition: 0.5s;
}
.profile_picture{
    
    margin-bottom: 30px;

}
.h-line{
    height: 1px;
    background-color: rgba(230, 230, 230, 1);;
    margin-top: -10px;
    width: 20px;
}


