*{

    box-sizing: border-box;
}
body {
    /* font-family: 'Open Sans', Helvetica, Arial, sans-serif; */
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    width: 10%;
    min-width: 100px;
    height: 100%;
    position: fixed;
    text-align: center;
    border-right: 1px #d3d3d3 solid;
}
.header_in{
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main{
    padding: 20px 10px;
    margin: 15px 15%;
    width: 50%;
    min-width: 600px;
    max-width: 800px;
    display: inline-block;              
    left: 100px;             
    transform: translate(0, -0%);
    position: absolute;
}
.other{
    padding: 10px;
    width: 20%;
    height: 100%;
    display: inline-block;              
    right: 0;      
    position: fixed;
    text-align: center;
    /* border-left: 1px #d3d3d3 solid; */
}
.medium_logo{
    width: 55px;
    height: 40px;
    margin-top: 30px;
}
.cl{
    color: black;
}
.ncl{
    color: #8a8a8a;
}
.b{
    margin-top: 30px;
}
.profile_picture{
    
    margin-bottom: 30px;

}
.author_picture{
    width: 30px;
    height: 30px;
}
.news_switcher{
    height: 35px;
}
.hover a:hover{
    color: black;
    transition: 0.5s;
}
.h-line{
    height: 1px;
    background-color: rgba(230, 230, 230, 1);;
    margin-top: -10px;
    width: 20px;
}
.following{
    margin-right: 20px;
}
.news_block{
    margin-top: 40px;
}
.author{
    font-size: 13px;
}
.title{
    font-weight: bold;
    font-size: 23px;
    
}
.news_content{
    padding-right: 50px;
}
.td{
    text-decoration: none;
}
.tc{
    color: black;
}
.en {
    background-color: rgba(242, 242, 242, 1);
}
.qd {
    padding: 12px;
}
.mu {
    border-radius: 100px;
}
.gn {
    margin-right: 8px;
}
.am {
    display: flex;
}
.bq{
    align-items: center;
}
.mt{
    margin-top: 20px;
}
.bbb{
    border-bottom: 1px solid black;
}
/* .bb{
    border: 1px solid black;
} */
.gb{
    border-bottom: 1px #d3d3d3 solid;
}
.bh{
    height: 35px;
}
.fc{
    color: #818181;
}
.y{
    display: block;
}
.mb{
    margin-bottom: 5px;
}
.pb{
    border-radius: 50%;
}
.la{
    fill: #818181;
}
.ry{
    margin: 0px 4px;
}
.tk{
    max-height: 72px;
}
.ct{
    overflow: hidden;
}
.tl{
    -webkit-line-clamp: 3;
}
.pi{
    -webkit-box-orient: vertical;
}
.pg {
    display: -webkit-box;
}
.eb {
    line-height: 24px;
}
.ec {
    font-size: 15px;
}
.tq{
    padding: 15px 0px 30px 0px;
}
.qf{
    font-size: 13px;
}
.ts{
    padding: 3px 8px;
}
.ra{
    justify-content: space-between;
}

